<h1 class="alert alert-warning text-center">Using view child ref</h1>
<div class="container">
    <div class="row d-flex justify-content-center mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Using View Child </h2>
                </div>
                <div class="card-body">
                   <div class="form-group">
                     <label for="">Enter Todo</label>
                    <input type="text" class="form-control" #inputRef> 
                    <label for="">Standered</label>
                    <input type="text" class="form-control" #standeredRef>
                    <select id="" class="form-control mt-3" #selectRef>
                        <option value="true">Completed</option>
                        <option value="false">Pending</option>

                    </select>
                   </div>
                   <button class="btn btn-primary btn-block"  *ngIf="!IsinEditMode" (click)="addTodo()">Add Todo</button>
                   <button class="btn btn-success btn-block" *ngIf="IsinEditMode"  (click)="updateTodo()">Update Todo</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-4" *ngFor="let data of todoData1">
            <div class="card">
                <div class="card-header alert alert-info">
                    <strong>{{data.task}}</strong>
                </div>
                <div class="card-body">
                    <h3
                    class="badge"
                    [ngClass]="data.completed ? 'bg-success' : 'bg-warning'">
                    {{data.completed ? 'completed' : 'pending'  }}</h3>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button class="btn btn-outline-info" [disabled]="IsinEditMode" (click)="editTodo(data)">Edit</button>
                    <button class="btn btn-outline-danger" [disabled]="IsinEditMode" (click)="removeTodo(data.id)">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>